$kpcolor: #73879C;
.icon-connected{
	position:absolute;
	right:0;
	margin-right:2em;
	font-size:200%;
	color:#3E3;
}

.wifiap.connected > .icon-connected {
	display:block !important;
}


//nav menu off

.nav-off .container.body .col-md-3.left_col {
  display:none;
  width: 0px;
  padding: 0;
  z-index: 9999;
  position: absolute; }

.nav-off .container.body .right_col {
  padding: 10px 20px 0;
  margin-left: 0px; }

.nav-off .main_container .top_nav {
  display: block;
  margin-left: 0px; }


.nav-off footer {
  margin-left: 0px; }


@font-face {
    font-family: LCD;
    font-weight: normal;
    src: url("../fonts/LCD14.woff") format("woff");
}

.kp-container {
    width: 100%;
    border: 1px solid black;
    display: inline-block;
}
.kp-container > button{
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 80px;
    margin: 5px;
    float: left;
    font-size:24px;
}
.kp-container > button{
    width: calc(33.3% - 10px);
    color:$kpcolor;
}

.kp-container_full > button{
    width: calc(25% - 10px);
}
.kp-view {
  width:100%;
  background:#FFE;
  font-size:220%;
  font-family: "LCD", monospace;
  font-variant: small-caps;
  font-weight: 700;
  color:$kpcolor;
  padding: 0.2em 0.75em;
}
.kp-container span.subtitle {
  font-size:50%;
}
.kp-container span.subtitle-small {
  font-size:45%;
}

@media(min-width:480px) {
	.kp-view {
		font-size:266%;
	}
}
@media(min-width:768px) {
	.kp-view {
		font-size:300%;
	}
	.kp-container > button{
		font-size:200%;
		height: 100px;
	}
}

//make alert bigger, white text on colored bg hard to read
#content-sparkmsg {
	font-size:120%;
}

.statuspanel__btn {
	min-width: 9rem;
	min-width: 5em;
}

.statuspanel .locked {
	color:#DBA900;
}
