[Unit]
Description=TANC Alarm Notifier
After=multi-user.target

[Service]
Type=idle
User=www-data
Group=users
WorkingDirectory=/opt/tanc/www/
ExecStart=/usr/bin/php /opt/tanc/www/bin/mqtt-notify.php
Restart=on-failure

[Install]
WantedBy=multi-user.target
