[Unit]
Description=TANC Display Websocket Service
After=multi-user.target

[Service]
Type=idle
User=pi
Group=users
WorkingDirectory=/opt/tanc/www
ExecStart=/usr/bin/php /opt/tanc/www/bin/mqtt-ws-bridge.php
Restart=on-failure

[Install]
WantedBy=multi-user.target

